.issueContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1b2c6d;
  background-image: url("../../assets/questions-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  background-color: rgb(0 0 0 / 45%);
  backdrop-filter: blur(4px);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #23acca63;
}

.title {
  font-size: 4rem;
  color: #fff;
  text-shadow: 4px -2px 0 #015ed7;
  margin-bottom: 40px;
  text-align: center;
  white-space: nowrap;
}

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #23acca63;
  margin-bottom: 40px;
}

.issueInput {
  width: 100%;
  padding: 10px 67px 10px 10px;
  border-radius: 8px;
  border: 2px solid #015ed7;
  outline: none;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;

  background-color: #0c0c0c;
  color: #fff;
}

.issueInput::placeholder {
  color: #3a3a3a;
}

.sendButton {
  position: absolute;
  right: 0px;
  top: 2px;
  bottom: 2px;
  padding: 10px 10px 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #125ecf, #033682);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  min-width: 60px;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.particles canvas {
  position: absolute !important;
  width: 100%;
  height: 100%;
}
